<meta charset='utf-8' content='application/xhtml+xml' http-equiv='Content-Type' /> 
<meta content='The tidbits, musings, tips and thoughts of brandon harris as he journeys through his web development profession.  Mostly focused on Ruby on Rails.' name='description' /> 
<meta content='brandon harris, brandon harris austin, brandon harris ruby, brandon harris rails, brandon harris programming, brandon harris web development, brandon harris ruby on rails' name='keywords' /> 
<meta content='brandon-harris.com' property='og:site_name' /> 
<meta content='blog' property='og:type' /> 
<meta content='The musings of a ruby on rails developer.' property='og:description' /> 
<meta content='Austin' property='og:locality' /> 
<meta content='TX' property='og:region' /> 
<meta content='8647124' property='fb:admins' /> 
<meta name="google-site-verification" content="aPqnrsPdR1N6FdnuTLFkGULcqLl4IV4DG6-Ij8n2Axk" />
