#wrapper {
  background: url(/images/light.gif) no-repeat top center;
  padding: 20px 0; }
  #wrapper #container {
    margin: 0 auto;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    width: 936px;
    background: white; }
    #wrapper #container #header {
      height: 100px;
      background: #444444;
      -moz-border-radius-topleft: 15px;
      -moz-border-radius-topright: 15px;
      -webkit-border-top-left-radius: 15px;
      -webkit-border-top-right-radius: 15px;
      position: relative; }
      #wrapper #container #header a.rss {
        position: absolute;
        bottom: 0;
        right: 5px; }
      #wrapper #container #header h1 {
        position: absolute;
        bottom: 40px;
        left: 20px;
        padding: 0;
        margin: 0;
        font-weight: normal; }
        #wrapper #container #header h1 a {
          color: white; }
          #wrapper #container #header h1 a:hover {
            color: #aaaaaa; }
      #wrapper #container #header .subtitle {
        font-size: 1.4em;
        display: block;
        float: left;
        padding: 15px 3px 10px 35px;
        color: white; }
    #wrapper #container #content {
      margin: 0 auto;
      padding: 0 10px;
      min-height: 100px;
      background-color: white; }
      #wrapper #container #content #main {
        background-color: white;
        width: 585px;
        padding: 0 10px;
        float: left; }
        #wrapper #container #content #main .portfolios .portfolio_item {
          padding-bottom: 40px; }
          #wrapper #container #content #main .portfolios .portfolio_item p.screenshot {
            text-align: center; }
      #wrapper #container #content #sub {
        padding-left: 15px;
        background-color: white;
        width: 296px;
        float: right; }
        #wrapper #container #content #sub ul {
          list-style: none; }
        #wrapper #container #content #sub #links, #wrapper #container #content #sub #search, #wrapper #container #content #sub #pages, #wrapper #container #content #sub #categories {
          background: url(/images/sep.png) no-repeat scroll center bottom;
          padding-bottom: 2em; }
        #wrapper #container #content #sub #like {
          background: url(/images/sep.png) no-repeat scroll center bottom;
          padding: 10px 0; }
        #wrapper #container #content #sub #twitter_div {
          background: url(/images/sep.png) no-repeat scroll center bottom;
          padding-bottom: 2em; }
          #wrapper #container #content #sub #twitter_div ul#twitter_update_list li {
            margin: 5px 0; }
    #wrapper #container #footer {
      clear: both;
      margin: 0 auto;
      background: url(/images/header_footer.jpg) no-repeat scroll 0 -132px;
      height: 68px;
      font-size: 8pt;
      padding: 10px; }

body {
  font: 80%/1.5 Verdana, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background: #bec3c6 url(/images/bg.jpg) repeat-x scroll 0 0;
  padding: 0;
  margin: 0; }

table {
  border-spacing: 0; }

h2 {
  font-family: Georgia, serif;
  font-size: 1.2em;
  color: #333333;
  margin-bottom: 0;
  border-bottom: 1px solid #cccccc; }
  h2 a {
    color: #333333; }

h3, h4, h5 {
  font-family: Georgia, serif;
  color: #333333; }

p {
  padding: 0px;
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-left: 0px;
  margin-right: 0px; }
  p.haha {
    display: none; }

img {
  border: 0; }

strong {
  color: #333333; }

.openid {
  background-image: url("/images/openid_icon.png");
  padding-left: 15px;
  background-repeat: no-repeat;
  background-position: 0px 2px; }

a {
  color: #000051;
  text-decoration: none; }
  a:hover {
    color: #00cc99; }

small a {
  text-decoration: underline; }

label a {
  text-decoration: underline; }

div.meta {
  margin-top: 1em;
  margin-bottom: 1em; }
div.comments div.body {
  padding: 5px; }
div.comments div.meta {
  min-height: 0px;
  padding: 0px; }
div.comments div.separator {
  height: 10px; }
div.errors {
  border: solid 1px red;
  background-color: #ffcccc;
  padding: 5px;
  padding-left: 10px;
  width: 485px; }
  div.errors h3 {
    font-size: 1em; }

.meta ul {
  list-style: none;
  margin: 0px;
  padding-left: 0em;
  padding-bottom: 0.5em;
  display: inline;
  color: #aaaaaa;
  font-size: 10pt; }
  .meta ul li {
    display: inline; }
    .meta ul li:after {
      content: " | "; }
    .meta ul li:last-child:after {
      content: ""; }
.meta a {
  color: #bbbbbb;
  border-bottom: dotted 1px #bbbbbb; }
  .meta a:hover {
    text-decoration: none;
    color: #00cc99; }

.archive-month .tags {
  color: #bbbbbb; }
  .archive-month .tags a {
    color: #bbbbbb;
    border-bottom: dotted 1px #bbbbbb; }

.right {
  float: right; }

.left {
  float: left; }

.clear_fix {
  clear: both; }

.right_clear {
  clear: right; }

.left_clear {
  clear: left; }

.separator {
  height: 1px;
  margin-top: 5px;
  clear: both; }

.entrybody {
  margin: 5px 0 10px 15px; }
  .entrybody p {
    margin: 10px 10px 10px 70px; }
  .entrybody table {
    margin: 10px 10px 10px 70px; }

.date {
  float: left;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  height: 49px;
  background: url(/images/date.jpg) no-repeat scroll 0 0;
  text-align: center;
  width: 51px; }
  .date p.month {
    color: white;
    letter-spacing: 2px;
    margin: 2px 0 0;
    padding: 0;
    text-transform: uppercase; }
  .date p.day {
    font-size: 21px;
    margin: -3px 0 0;
    text-transform: uppercase;
    padding: 0; }

textarea {
  width: 500px;
  background: white url(/images/textfield.gif) repeat-x scroll center top;
  border: 1px solid #a6a6a6; }

input {
  border: 1px solid #a6a6a6;
  padding: 5px; }

input.textfield {
  background: white url(/images/textfield.gif) repeat-x scroll center top; }

select {
  font: normal 12px verdana, arial, helvetica, sans-serif; }

ol.commentlist {
  list-style: none;
  padding-left: 15px; }
  ol.commentlist li {
    padding: 10px; }

.tag_1 {
  font-size: 0.6em; }

.tag_2 {
  font-size: 1em; }

.tag_3 {
  font-size: 1.4em; }

.tag_4 {
  font-size: 1.8em; }

#project_summary {
  height: 150px; }

#new_comment textarea, #edit_comment textarea {
  height: 150px; }

.alt, .container_alt {
  border: #dadada 2px dashed; }

.fieldWithErrors {
  display: inline; }

span.error {
  font-weight: bold; }
span.CodeRay {
  white-space: pre;
  border: 0px;
  padding: 2px; }

hr {
  border-top: dotted 1px black;
  border-bottom: none;
  height: 1px; }

#preview {
  height: 200px;
  overflow: auto; }

.related {
  background-color: #f8f8f8;
  border: 1px solid silver;
  padding: 10px; }

fieldset.toc {
  float: right;
  border: dotted 1px black;
  background-color: #fafafa;
  padding: 10px;
  margin-left: 5px; }

.toc legend {
  font-weight: bold; }
.toc ol {
  margin: 0px;
  padding-left: 0px;
  list-style-position: inside; }
  .toc ol ol {
    list-style-type: lower-alpha;
    padding-left: 15px; }

pre.ruby .keyword {
  color: #c41f1f; }
pre.ruby .constant {
  color: #961818; }
pre.ruby .comment {
  color: #f37e00; }
pre.ruby .string {
  color: #b77c0a; }

.CodeRay {
  background-color: #f8f8f8;
  border: 1px solid silver;
  font-family: "Courier New", "Terminal", monospace;
  color: #110000;
  margin-bottom: 1em; }
  .CodeRay pre {
    margin: 0px;
    font-size: 12px; }
  .CodeRay .line_numbers {
    background-color: #eaeaea;
    color: gray;
    text-align: right;
    padding: 0 4px;
    width: 20px; }
    .CodeRay .line_numbers tt {
      font-weight: bold; }
  .CodeRay .no {
    background-color: #eaeaea;
    color: gray;
    text-align: right;
    padding: 0px 4px; }
  .CodeRay .code {
    width: 100%; }
    .CodeRay .code pre {
      overflow: auto; }

table.CodeRay {
  border-collapse: collapse;
  width: 85%;
  padding: 2px;
  table-layout: fixed; }
  table.CodeRay td {
    padding: 2px 4px;
    vertical-align: top; }

ol.CodeRay {
  font-size: 10pt; }
  ol.CodeRay li {
    white-space: pre; }

.af {
  color: #0000cc; }

.an {
  color: #000077; }

.av {
  color: #770000; }

.aw {
  color: #cc0000; }

.bi {
  color: #550099;
  font-weight: bold; }

.c {
  color: #888888; }

.ch {
  color: #0044dd; }
  .ch .k {
    color: #0044dd; }
  .ch .dl {
    color: #003399; }

.cl {
  color: #bb0066;
  font-weight: bold; }

.co {
  color: #003366;
  font-weight: bold; }

.cr {
  color: #00aa00; }

.cv {
  color: #336699; }

.df {
  color: #009999;
  font-weight: bold; }

.di {
  color: #008888;
  font-weight: bold; }

.dl {
  color: black; }

.do {
  color: #997700; }

.ds {
  color: #dd4422;
  font-weight: bold; }

.e {
  color: #666666;
  font-weight: bold; }

.en {
  color: #880000;
  font-weight: bold; }

.er {
  color: red;
  background-color: #ffaaaa; }

.ex {
  color: red;
  font-weight: bold; }

.fl {
  color: #6600ee;
  font-weight: bold; }

.fu {
  color: #0066bb;
  font-weight: bold; }

.gv {
  color: #dd7700;
  font-weight: bold; }

.hx {
  color: #005588;
  font-weight: bold; }

.i {
  color: #0000dd;
  font-weight: bold; }

.ic {
  color: #bb4444;
  font-weight: bold; }

.il {
  background: #eeeeee; }
  .il .il {
    background: #dddddd; }
    .il .il .il {
      background: #cccccc; }
  .il .dl {
    font-weight: bold !important;
    color: #888888 !important; }

.in {
  color: #bb22bb;
  font-weight: bold; }

.iv {
  color: #3333bb; }

.la {
  color: #997700;
  font-weight: bold; }

.lv {
  color: #996633; }

.oc {
  color: #4400ee;
  font-weight: bold; }

.on {
  color: black;
  font-weight: bold; }

.pc {
  color: #003388;
  font-weight: bold; }

.pd {
  color: #336699;
  font-weight: bold; }

.pp {
  color: #557799; }

.pt {
  color: #333399;
  font-weight: bold; }

.r {
  color: #008800;
  font-weight: bold; }

.rx {
  background-color: #fff0ff; }
  .rx .k {
    color: #880088; }
  .rx .dl {
    color: #440044; }
  .rx .mod {
    color: #cc22cc; }
  .rx .fu {
    color: #440044;
    font-weight: bold; }

.s {
  background-color: #fff0f0; }
  .s .s {
    background-color: #ffe0e0; }
    .s .s .s {
      background-color: #ffd0d0; }
  .s .k {
    color: #dd2200; }
  .s .dl {
    color: #771100; }

.sh {
  background-color: #f0fff0; }
  .sh .k {
    color: #22bb22; }
  .sh .dl {
    color: #116611; }

.sy {
  color: #aa6600; }
  .sy .k {
    color: #aa6600; }
  .sy .dl {
    color: #663300; }

.ta {
  color: #007700; }

.tf {
  color: #007700;
  font-weight: bold; }

.ts {
  color: #dd7700;
  font-weight: bold; }

.ty {
  color: #333399;
  font-weight: bold; }

.v {
  color: #003366; }

.xt {
  color: #444444; }
