#wrapper #header {
  height: 70px;
  position: relative;
  background: #333855;
  border-bottom: 5px solid green;
}
#wrapper #header h1 {
  margin: 0;
  display: inline;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3.5em;
  font-family: monospace;
}
#wrapper #header h1 a {
  color: #eee;  
}
#wrapper #header h1 a:hover {
  color: #aaaaaa; 
}
#wrapper #header .subtitle {
  font-size: 1.4em;
  display: block;
  float: left;
  padding: 15px 3px 10px 35px;
  color: white; 
}
#wrapper #header ul {
  list-style: none;
  padding: 0 0 0 0;
  margin: 0;
  position: absolute;
  top: 20px;
  right: 0;
}
#wrapper #header ul li {
  float: left;
  padding: 0 15px 0 0;
}
#wrapper #header ul li.last {
  padding: 0;
}
#wrapper #header ul li a {
  color: #eee;
  font-family: monospace;
  font-weight: bold;
  font-size: 1.6em;
}
#wrapper #header ul li a:hover {
  color: #aaa;
}

#wrapper #content {
  margin: 0 auto;
  padding: 0 10px;
  min-height: 100px;
  background-color: white; 
  clear: both;
}
#wrapper #content #main {
  background-color: white;
  width: 705px;
  float: left; 
}
#wrapper #content #main .portfolios .portfolio_item {
  padding-bottom: 40px; 
}
#wrapper #content #main .portfolios .portfolio_item p.screenshot {
  text-align: center; 
}
#wrapper #content #sub {
  padding-left: 15px;
  background-color: white;
  width: 200px;
  float: right;
  text-align: right;
}
#wrapper #content #sub ul {
  list-style: none; 
  margin: 0;
  padding: 0;
}
#wrapper #content #sub #links, #wrapper #content #sub #search, #wrapper #content #sub #pages {
  border-bottom: 1px solid #CCC;
  padding-bottom: 2em; 
}
#wrapper #content #sub #categories {
  border: 0;
}
#wrapper #content #sub #like {
  border-bottom: 1px solid #CCC;
  padding: 10px 0; 
}
#wrapper #content #sub #twitter_div {
  border-bottom: 1px solid #CCC;
  padding-bottom: 2em; 
}
#wrapper #content #sub #twitter_div ul#twitter_update_list li {
  margin: 5px 0; 
}
#wrapper #footer {
  clear: both;
  margin: 0 auto;
  height: 68px;
  padding: 10px;
  border-top: 5px solid green;
  background: #333855;
  color: #eee;
  font-family: monospace;  
}
#wrapper #footer a {
  color: #eee;
}
#wrapper #footer a:hover {
  color: #aaa;
}
.wrap {
  width: 960px;
  margin: 0 auto;
  position: relative;
}
body {
  font: 90%/1.8 Helvetica Nueue, Helvetica, Arial, sans-serif;
  line-height: 1.9;
  padding: 0;
  margin: 0; 
}

table {
  border-spacing: 0; 
}

h1, h2, h3, h4, h5 {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

h2 {
  font-size: 1.4em;
  color: #333333;
  margin-bottom: 0;
  border-bottom: 1px solid #cccccc; 
}
h2 a {
  color: #333333; 
}

h3, h4, h5 {
  font-family: Georgia, serif;
  color: #333333; 
}

p {
  padding: 0px;
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-left: 0px;
  margin-right: 0px; 
}

img {
  border: 0; 
}

strong {
  color: #333333; 
}

a {
  text-decoration: none; 
  color: #000066;
}

a:hover {
  color: #aaa; 
}

small a {
  text-decoration: underline; 
}

label a {
  text-decoration: underline; 
}

div.meta {
  margin-top: 1em;
  margin-bottom: 1em; 
}

div.errors {
  border: solid 1px red;
  background-color: #ffcccc;
  padding: 5px;
  padding-left: 10px;
  width: 485px; 
}
div.errors h3 {
  font-size: 1em; 
}

.meta ul {
  list-style: none;
  margin: 0px;
  padding-left: 0em;
  padding-bottom: 0.5em;
  display: inline;
  color: #aaaaaa;
  font-size: 10pt; 
}
.meta ul li {
  display: inline; 
}
.meta ul li:after {
  content: " | "; 
}
.meta ul li:last-child:after {
  content: ""; 
}
.meta a {
  color: #bbbbbb;
  border-bottom: dotted 1px #bbbbbb; 
}
.meta a:hover {
  text-decoration: none;
  color: #00cc99; 
}

.archive-month .tags {
  color: #bbbbbb; 
}
.archive-month .tags a {
  color: #bbbbbb;
  border-bottom: dotted 1px #bbbbbb; 
}
.right {
  float: right; 
}

.left {
  float: left; 
}

.clear_fix {
  clear: both; 
}

.right_clear {
  clear: right; 
}

.left_clear {
  clear: left; 
}

.separator {
  height: 1px;
  margin-top: 5px;
  clear: both; 
}

.entrybody {
  margin: 5px 0 10px 0; 
}

.date {
  float: left;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  height: 49px;
  background: url(/images/date.jpg) no-repeat scroll 0 0;
  text-align: center;
  width: 51px; 
}

.date p.month {
  color: white;
  letter-spacing: 2px;
  margin: 2px 0 0;
  padding: 0;
  text-transform: uppercase; 
}
.date p.day {
  font-size: 21px;
  margin: -3px 0 0;
  text-transform: uppercase;
  padding: 0; 
}

input {
  border: 1px solid #a6a6a6;
  padding: 5px; 
}

select {
  font: normal 12px verdana, arial, helvetica, sans-serif; 
}

#project_summary {
  height: 150px; 
}

#new_comment textarea, #edit_comment textarea {
  height: 150px; 
}

.alt, .container_alt {
  border: #dadada 2px dashed; 
}
